<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HappyHearts_Draft</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HappyHearts_Draft.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg custom-navbar shadow-sm">

            <div class="container">

                <!-- Logo -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo.jpeg"
                         alt="Happy Hearts"
                         class="logo">
                </a>

                <!-- Mobile Button -->
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarMenu">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <!-- Navigation -->
                <div class="collapse navbar-collapse" id="navbarMenu">

                    <ul class="navbar-nav ms-auto align-items-center">

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Shop"
                               asp-action="Index">
                                Shop
                            </a>
                        </li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown">

                                Species

                            </a>

                            <ul class="dropdown-menu">

                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Species"
                                       asp-action="Dogs"
                                       asp-route-type="dogs">
                                        Dogs🐶
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Species"
                                       asp-action="Cats">
                                        Cats🐱
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Species"
                                       asp-action="Fish"
                                       asp-route-type="fish">
                                        Fish 🐠
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Species"
                                       asp-action="Birds"
                                       asp-route-type="birds">
                                        Birds 🐦
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Species"
                                       asp-action="Bunnies"
                                       asp-route-type="Bunnies">
                                        Bunnies🐹
                                    </a>
                                </li>

                            </ul>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="About"
                               asp-action="Index">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Contact"
                               asp-action="Index">
                                Contact
                            </a>
                        </li>

                        <li class="nav-item ms-3">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>

                        <li class="nav-item ms-3">
                            <a asp-controller="Account"
                               asp-action="Login"
                               class="btn btn-outline-primary rounded-pill px-4">

                                <i class="fa-regular fa-user"></i>
                                Login

                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white text-center p-4 mt-5">

        <h5>Happy Hearts Pet Adoption</h5>

        <p>
            Finding loving homes for pets, one heart at a time.
        </p>

        <small>
            © 2026 Happy Hearts. All Rights Reserved.
        </small>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <script>
        AOS.init({
            duration:800,
            once:true
        });
    </script>
</body>
</html>
